<div id='contact' data-link='contact'>
	<h1>{{header}}</h1>
	
	<form action='{{email_url}}' data-destination='{{email}}' enctype='text/plain' method='post'>

		<p><input type='text' name='name' value='Name'></p>

		<p><input type='text' name='email' value='Email Address'></p>

		<p><textarea name='message' rows='5' cols='55'></textarea></p>

		<input type='submit'>
 	</form>
</div>