<div id='photographers' data-link='photographers'>

	<div class='canvas'>
		{{#slides}}
		<div class='{{id}}'>
			<a href='{{destination}}'>
				<div class='original'><img src='{{image_1}}' alt='{{image_1_alt}}' /></div>
				<div class='hover'><img src='{{image_2}}' alt='{{image_2_alt}}' /></div>
			</a>
		</div>
		{{/slides}}
	</div>

</div>